<div th:fragment="add-employee-form(userDTO, employeeDTO, role)">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Enter username"  th:field="*{userDTO.username}" />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" th:field="*{userDTO.password}" />
  </div>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name" th:field="*{employeeDTO.firstName}" />
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter last name" th:field="*{employeeDTO.lastName}" />
  </div>
  <div class="form-group">
    <label for="gender">Gender</label>
    <select class="form-control" id="gender" th:field="*{employeeDTO.gender}">
      <option th:value="'Male'">Male</option>
      <option th:value="'Female'">Female</option>
      <option th:value="'Other'">Other</option>
    </select>
  </div>
  <div class="form-group">
    <label for="dateOfBirth">Date of Birth</label>
    <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" placeholder="Enter date of birth" th:field="*{employeeDTO.dateOfBirth}" />
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input type="text" class="form-control" id="address" name="address" placeholder="Enter address" th:field="*{employeeDTO.address}" />
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter phone" th:field="*{employeeDTO.phone}" />
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" th:field="*{employeeDTO.email}" />
  </div>
  <div class="form-group">
    <label for="salary">Salary</label>
    <input type="number" class="form-control" id="salary" name="salary" placeholder="Enter salary" th:field="*{employeeDTO.salary}" />
  </div>
  <div class="form-group">
    <label for="role">Role</label>
    <select class="form-control" id="role" th:field="*{employeeDTO.role}">
      <option sec:authorize="hasAuthority('ADMIN')" th:each="role : ${T(ca.proj.values.EmployeeRole).values()}" th:value="${role}" th:text="${role}"></option>
      <option sec:authorize="hasAuthority('RECEPTIONIST')" th:each="role : ${T(ca.proj.values.EmployeeRole).values()}" th:if="${role != T(ca.proj.values.EmployeeRole).Admin}" th:value="${role}" th:text="${role}"></option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</div>