<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="admin-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/admin/}">Online Patient Management System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <!-- tabs: add employee, add patient, add appointment -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/admin/}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/add-employee-page}">Add Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/add-patient-page}">Add Patient</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/add-appointment-page}">Add Appointment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/logout}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>