<div th:fragment="appointments-table(appointments)">
  <div class="container-fluid">
    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Status</th>
            <th scope="col">Employee Username</th>
            <th scope="col">Patient Username</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="appointment : ${appointments}">
            <td th:text="${appointment.appointmentID}"></td>
            <td th:text="${appointment.appointmentDate}"></td>
            <td th:text="${appointment.appointmentTime}"></td>
            <td th:text="${appointment.appointmentStatus}"></td>
            <td th:text="${appointment.employeeUsername}"></td>
            <td th:text="${appointment.patientUsername}"></td>
            <td>
              <a class="btn btn-primary btn-sm" th:href="@{/admin/edit-appointment-page/{appointmentID}(appointmentID=${appointment.appointmentID})}">Edit</a>
              <a class="btn btn-danger btn-sm" href="#" th:attr="onclick=|document.getElementById('${appointment.appointmentID}').submit()|">Delete</a>
              <form th:id="${appointment.appointmentID}" th:action="@{|/admin/deleteAppointment/${appointment.appointmentID}|}" method="POST"></form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>