<div th:fragment="doctor-personal-info(doctor)">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Personal Information</h5>
            <p class="card-text">
              <span class="fw-bold">Username: </span>
              <span th:text="${doctor.username}"></span>
            </p>
            <p class="card-text">
              <span class="fw-bold">First Name: </span>
              <span th:text="${doctor.firstName}"></span>
            </p>
            <p class="card-text">
              <span class="fw-bold">Last Name: </span>
              <span th:text="${doctor.lastName}"></span>
            </p>
            <p class="card-text">
              <span class="fw-bold">Gender: </span>
              <span th:text="${doctor.gender}"></span>
            </p>
            <p class="card-text">
              <span class="fw-bold">Date of Birth: </span>
              <span th:text="${doctor.dateOfBirth}"></span>
            </p>
            <p class="card-text">
              <span class="fw-bold">Address: </span>
              <span th:text="${doctor.address}"></span>
            </p>
            <p class="card-text">
              <span class="fw-bold">Phone: </span>
              <span th:text="${doctor.phone}"></span>
            </p>
            <p class="card-text">
              <span class="fw-bold">Email: </span>
              <span th:text="${doctor.email}"></span>
            </p>
            <p class="card-text">
              <span class="fw-bold">Salary: </span>
              <span th:text="${#numbers.formatCurrency(doctor.salary)}"></span>
            </p>
            <p class="card-text">
              <span class="fw-bold">Role: </span>
              <span th:text="${doctor.role}"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
