<div th:fragment="employees-table(employees)">
  <div class="container-fluid">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Gender</th>
          <th scope="col">Date of Birth</th>
          <th scope="col">Address</th>
          <th scope="col">Phone</th>
          <th scope="col">Email</th>
          <th scope="col">Salary</th>
          <th scope="col">Role</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="employee : ${employees}">
          <td th:text="${employee.username}"></td>
          <td th:text="${employee.firstName}"></td>
          <td th:text="${employee.lastName}"></td>
          <td th:text="${employee.gender}"></td>
          <td th:text="${employee.dateOfBirth}"></td>
          <td th:text="${employee.address}"></td>
          <td th:text="${employee.phone}"></td>
          <td th:text="${employee.email}"></td>
          <td th:text="${#numbers.formatCurrency(employee.salary)}"></td>
          <td th:text="${employee.role}"></td>
          <td>
            <a class="btn btn-primary btn-sm">Edit</a>
            <a class="btn btn-danger btn-sm">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
