<div th:fragment="navbar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" sec:authorize="hasAuthority('ADMIN')">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/admin/}">
        <img src="https://cdn.discordapp.com/attachments/699963006016159778/1047308616123813948/logo_1.png" height="40" alt="logo" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/admin/}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/add-employee-page}">Add Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/add-patient-page}">Add Patient</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/add-appointment-page}">Add Appointment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/logout}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light bg-light" sec:authorize="hasAuthority('RECEPTIONIST')">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/receptionist/}">
        <img src="https://cdn.discordapp.com/attachments/699963006016159778/1047308616123813948/logo_1.png" height="40" alt="logo" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/receptionist/}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/receptionist/add-appointment-page}">Add Appointment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/receptionist/add-employee-page}">Add Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/receptionist/add-patient-page}">Add Patient</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/logout}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light bg-light" sec:authorize="hasAuthority('DOCTOR')">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/doctor/}">
        <img src="https://cdn.discordapp.com/attachments/699963006016159778/1047308616123813948/logo_1.png" height="40" alt="logo" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/doctor/}">Dashboard</a>
          </li>
          <li clas="nav-item">
            <a class="nav-link" th:href="@{/doctor/add-prescription-page}">Add Prescription</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/logout}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light bg-light" sec:authorize="hasAuthority('PATIENT')">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/patient/}">
        <img src="https://cdn.discordapp.com/attachments/699963006016159778/1047308616123813948/logo_1.png" height="40" alt="logo" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/patient/}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/patient/book-appointment}">Book Appointment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/patient/make-payment}">Make Payment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/logout}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>