<!-- no thymeleaf bootstrap table of patients with pagination -->
<div th:fragment="patients-table(patients)">
  <div class="container-fluid">
    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <!-- columns: username, first name, last name, gender, date of birth, address, phone, email -->
            <th scope="col">Username</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- iterate over patients -->
          <tr th:each="patient : ${patients}">
            <!-- display patient's data -->
            <td th:text="${patient.username}"></td>
            <td th:text="${patient.firstName}"></td>
            <td th:text="${patient.lastName}"></td>
            <td th:text="${patient.gender}"></td>
            <td th:text="${patient.dateOfBirth}"></td>
            <td th:text="${patient.address}"></td>
            <td th:text="${patient.phone}"></td>
            <td th:text="${patient.email}"></td>
            <td sec:authorize="hasAuthority('ADMIN')">
              <a class="btn btn-primary btn-sm" th:href="@{|/admin/viewPatient/${patient.username}|}">View</a>
              <a class="btn btn-danger btn-sm" href="#" th:attr="onclick=|document.getElementById('${patient.username}').submit()|">Delete</a>
              <form th:id="${patient.username}" th:action="@{|/admin/deletePatient/${patient.username}|}" method="POST"></form>
            </td>
            <td sec:authorize="hasAuthority('RECEPTIONIST')">
              <a class="btn btn-primary btn-sm" th:href="@{|/receptionist/viewPatient/${patient.username}|}">View</a>
              <a class="btn btn-danger btn-sm" href="#" th:attr="onclick=|document.getElementById('${patient.username}').submit()|">Delete</a>
              <form th:id="${patient.username}" th:action="@{|/receptionist/deletePatient/${patient.username}|}" method="POST"></form>
            </td>
            <td sec:authorize="hasAuthority('DOCTOR')">
              <a class="btn btn-primary btn-sm" th:href="@{|/doctor/viewPatient/${patient.username}|}">View</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
