<!-- no thymeleaf bootstrap table of patients with pagination -->
<div th:fragment="patients-table">
  <div class="container-fluid">
    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Doctor</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- dummy info -->
          <tr>
            <th scope="row">1</th>
            <td>John</td>
            <td>Doe</td>
            <td><a href="mailto:[...]"></a></td>
            <td><a href="tel:[...]"></a></td>
            <td>Doctor</td>
            <td>
              <a href="#" class="btn btn-primary btn-sm">Edit</a>
              <a href="#" class="btn btn-danger btn-sm">Delete</a>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>John</td>
            <td>Doe</td>
            <td><a href="mailto:[...]"></a></td>
            <td><a href="tel:[...]"></a></td>
            <td>Doctor</td>
            <td>
              <a href="#" class="btn btn-primary btn-sm">Edit</a>
              <a href="#" class="btn btn-danger btn-sm">Delete</a>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>John</td>
            <td>Doe</td>
            <td><a href="mailto:[...]"></a></td>
            <td><a href="tel:[...]"></a></td>
            <td>Doctor</td>
            <td>
              <a href="#" class="btn btn-primary btn-sm">Edit</a>
              <a href="#" class="btn btn-danger btn-sm">Delete</a>
            </td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>John</td>
            <td>Doe</td>
            <td><a href="mailto:[...]"></a></td>
            <td><a href="tel:[...]"></a></td>
            <td>Doctor</td>
            <td>
              <a href="#" class="btn btn-primary btn-sm">Edit</a>
              <a href="#" class="btn btn-danger btn-sm">Delete</a>
            </td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>John</td>
            <td>Doe</td>
            <td><a href="mailto:[...]"></a></td>
            <td><a href="tel:[...]"></a></td>
            <td>Doctor</td>
            <td>
              <a href="#" class="btn btn-primary btn-sm">Edit</a>
              <a href="#" class="btn btn-danger btn-sm">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- pagination -->
  <div class="row">
    <div class="col-12">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
