<!-- fragment to search for patient static -->
<div th:fragment="search-patient">
  <div class="container-fluid">
    <div class="col-12">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search patient...</button>
      </form>
    </div>
    <!-- search employee results -->
    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- dummy info -->
          <tr>
            <th scope="row">1</th>
            <td>John Doe</td>
            <td><a href="mailto:[...]"></a></td>
            <td><a href="tel:[...]"></a></td>
            <td>
              <a href="#" class="btn btn-primary btn-sm">Edit</a>
              <a href="#" class="btn btn-danger btn-sm">Delete</a>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>John Doe</td>
            <td><a href="mailto:[...]"></a></td>
            <td><a href="tel:[...]"></a></td>
            <td>
              <a href="#" class="btn btn-primary btn-sm">Edit</a>
              <a href="#" class="btn btn-danger btn-sm">Delete</a>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>John Doe</td>
            <td><a href="mailto:[...]"></a></td>
            <td><a href="tel:[...]"></a></td>
            <td>
              <a href="#" class="btn btn-primary btn-sm">Edit</a>
              <a href="#" class="btn btn-danger btn-sm">Delete</a>
            </td>
          </tr>
          <!-- enough -->
        </tbody>
      </table>
    </div>
  </div>
</div>
