<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Patient Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav th:replace="fragments/admin-navbar :: admin-navbar"></nav>
    <!-- view appointment details: appointment id, appointment date, appointment time, appointment status, employee, patient, table of prescriptions, table of payments -->
    <div class="container-fluid">
      <a class="btn btn-outline-primary" th:href="@{/admin/}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M11.854 1.646a.5.5 0 0 1 0 .708L5.207 8.5l6.647 6.646a.5.5 0 0 1-.708.708l-7-7a.5.5 0 0 1 0-.708l7-7a.5.5 0 0 1 .708 0z" />
        </svg>
        Back
      </a>
      <div class="row">
        <div class="col-6">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Appointment Details</h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <p class="card-text">ID</p>
                </div>
                <div class="col-8">
                  <p class="card-text" th:text="${appointment.appointmentID}"></p>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <p class="card-text">Date</p>
                </div>
                <div class="col-8">
                  <p class="card-text" th:text="${appointment.appointmentDate}"></p>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <p class="card-text">Time</p>
                </div>
                <div class="col-8">
                  <p class="card-text" th:text="${appointment.appointmentTime}"></p>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <p class="card-text">Status</p>
                </div>
                <div class="col-8">
                  <p class="card-text" th:text="${appointment.appointmentStatus}"></p>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <p class="card-text">Employee</p>
                </div>
                <div class="col-8">
                  <a class="card-link" th:href="@{/admin/viewEmployee/{username}(username=${appointment.employeeUsername})}" th:text="${appointment.employeeUsername}"></a>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <p class="card-text">Patient</p>
                </div>
                <div class="col-8">
                  <a class="card-link" th:href="@{/admin/viewPatient/{username}(username=${appointment.patientUsername})}" th:text="${appointment.patientUsername}"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- format details like in admin-view-employee -->
        <div class="col-6">
          <h2>Prescriptions</h2>
          <table class="table table-striped">
            <thead>
              <tr>
                <!-- columns: prescription id, prescription date, prescription time, prescription status, prescription details, prescription notes -->
                <th scope="col">Prescription ID</th>
                <th scope="col">Prescription Date</th>
                <th scope="col">Prescription Details</th>
              </tr>
            </thead>
            <tbody>
              <!-- iterate over prescriptions -->
              <tr th:each="prescription : ${prescriptions}">
                <!-- display prescription's data -->
                <td th:text="${prescription.prescriptionID}"></td>
                <td th:text="${prescription.prescriptionDate}"></td>
                <td th:text="${prescription.prescription}"></td>
              </tr>
            </tbody>
          </table>
          <h2>Payments</h2>
          <table class="table table-striped">
            <thead>
              <tr>
                <!-- columns: payment id, payment date, payment time, payment status, payment amount, payment method -->
                <th scope="col">Payment ID</th>
                <th scope="col">Payment Date</th>
                <th scope="col">Payment Time</th>
                <th scope="col">Payment Amount</th>
              </tr>
            </thead>
            <tbody>
              <!-- iterate over payments -->
              <tr th:each="payment : ${payments}">
                <!-- display payment's data -->
                <td th:text="${payment.paymentID}"></td>
                <td th:text="${payment.paymentDate}"></td>
                <td th:text="${payment.paymentTime}"></td>
                <td th:text="${#numbers.formatCurrency(payment.paymentAmount)}"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
